@font-face {
    font-family: "irSans-Light";
    src: url(../font/iran_sans/woff/IRANSansX-Light.woff)format("woff");
    src: url(../font/iran_sans/woff2/IRANSansX-Light.woff2)format("woff2");
}
@font-face {
    font-family: "irSans-Med";
    src: url(../font/iran_sans/woff/IRANSansX-Medium.woff)format("woff");
    src: url(../font/iran_sans/woff2/IRANSansX-Medium.woff2)format("woff2");
}
@font-face {
    font-family: "irSans-Bold";
    src: url(../font/iran_sans/woff/IRANSansX-Bold.woff)format("woff");
    src: url(../font/iran_sans/woff2/IRANSansX-Bold.woff2)format("woff2");
}


@font-face {
    font-family: "jost-Light";
    src: url(../font/jost/Jost-Light.ttf);
}
@font-face {
    font-family: "jost-Med";
    src: url(../font/jost/Jost-Medium.ttf);
}
@font-face {
    font-family: "jost-Bold";
    src: url(../font/jost/Jost-Bold.ttf);
}